{% extends "base.html.jinja" %}
{% block content %}
    <p><i class="bi bi-person-circle"></i> Dmytro Korodchenkov</p>
    <p><i class="bi bi-award-fill"></i> Aplied Informatics</p>
    <p><i class="bi bi-bank2"></i> Cracow University of Economics</p>
{% endblock content %}
